.root {
    -dark: #27292D;
    -standard: #913B3B;
    -bright: #DF5B5B;
    -text-color: #FFFEFE;
    -highlight-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
    -fx-background: #34383B;
    -fx-base: -standard;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16px;
    -fx-font-weight: lighter;
    -fx-selection-bar: -standard;
    -fx-selection-bar-non-focused: derive(-standard, 20%);
}

.context-menu {
    -fx-background-color: -bright;
}

.button {
    -fx-text-fill: -text-color;
    -fx-outer-border: linear-gradient(to bottom, derive(-standard, 30%) 0%, derive(-standard, -30%) 100%);
    -fx-inner-border: derive(-bright, 10%);
    -fx-body-color: -bright;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-insets: 0, 0, 0, 1 0 0 0;
    -fx-padding: 10 15 10 15;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: lighter;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 2, 0, -2, 2);
}

.button:pressed {
    -fx-body-color: -standard;
    -fx-inner-border: derive(-standard, 10%);
}

.button:disabled {
    -fx-body-color: -dark;
}

.button .text {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 0, 1);
}

