
.split-pane {
    -fx-background-color: null;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}
#statusBar > .container {
    -fx-alignment: center;
}
#statusBar .text {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-fill: #1d3866;
    -fx-effect: dropshadow(one-pass-box, white, 0, 1.0, 0, 1);
}

/*********************************************************************************/

.topmenubutton {
    -fx-background-color: #0070d6;
    -fx-border-radius: 10%;
    -fx-text-fill: #ffffff;
}

.topmenubutton:hover {
    -fx-background-color: #3edc69;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 10%;
}

.topmenutoolbar {
    -fx-background-color: white;
    -fx-fill: white;
}

.deletebuttons {
    -fx-background-color: #f04c4a;
    -fx-border-radius: 10%;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.deletebuttons:hover {
    -fx-background-color: #f0000e;
    -fx-text-fill: #ffffff;
}

.custombutton {
    -fx-background-color: #0070d6;
    -fx-border-radius: 10%;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.custombutton:hover {
    -fx-background-color: #3edc69;
    -fx-text-fill: #ffffff;
}

/**** slider ***********/
.slider .track {
    -fx-background-color: #0070d6;
    -fx-background-radius: 0.5em;
    -fx-padding: 0.4em;
}

.slider .thumb {
    -fx-background-color: #ffffff;
    -fx-scale-shape: true;
    -fx-shape: "M 935 1187 L 943 1187 L 943 1188 L 935 1188 L 935 1187 ZM 935 1185 L 943 1185 L 943 1186 L 935 1186 L 935 1185 ZM 935 1183 L 943 1183 L 943 1184 L 935 1184 L 935 1183 ZM 926 1185.5 C 926 1192.9559 932.0441 1199 939.5 1199 C 946.9559 1199 953 1192.9559 953 1185.5 C 953 1178.0441 946.9559 1172 939.5 1172 C 932.0441 1172 926 1178.0441 926 1185.5 Z";
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 1, 0.0, 0, 1);
}

.slider .thumb:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
}

/**************************** check box ***************************************/

.check-box > .box {
    -fx-background-radius: 0;
    -fx-background-color: #0070d6, #d3ddff;
    -fx-background-insets: 0, 2;
    -fx-pref-width: 21;
    -fx-pref-height: 21;
}

.check-box:focused > .box {
    -fx-background-insets: 0, 2;
}

.check-box > .box > .mark {
    -fx-mark-highlight-color: #0070d6;
    -fx-mark-color: #0070d6;
    -fx-scale-shape: true;
    -fx-shape: "M 4.023 10.8633 L 4.0259 10.9843 L 11.9863 2.9926 L 10.1048 -0.014 L 4.0049 7.9774 L 1.3589 5.9741 L -0.0884 8.0153 L 4.023 10.8633 Z";
    -fx-pref-width: 12px;
    -fx-pref-height: 11px;
}

.check-box:selected .mark {
    -fx-background-color: #0070d6;
}

/********************************** scroll bar *********************/

.scroll-bar:horizontal {
    -fx-background-color: #0070d6;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #ffffff;
    -fx-scale-shape: false;
    -fx-shape: "M 935 1187 L 943 1187 L 943 1188 L 935 1188 L 935 1187 ZM 935 1185 L 943 1185 L 943 1186 L 935 1186 L 935 1185 ZM 935 1183 L 943 1183 L 943 1184 L 935 1184 L 935 1183 ZM 926 1185.5 C 926 1192.9559 932.0441 1199 939.5 1199 C 946.9559 1199 953 1192.9559 953 1185.5 C 953 1178.0441 946.9559 1172 939.5 1172 C 932.0441 1172 926 1178.0441 926 1185.5 Z";
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 1, 0.0, 0, 1);
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffffff;
    -fx-padding: 0.333em 0.167em 0.333em 0.167em;
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-effect: dropshadow(two-pass-box, #dedede, 1, 0.0, 0, 1.4);
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-background-color: #ffffff;
    -fx-padding: 0.333em 0.167em 0.333em 0.167em;
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-effect: dropshadow(two-pass-box, #dedede, 1, 0.0, 0, 1.4);
}

.scroll-bar:vertical {
    -fx-background-color: #0070d6;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #ffffff;
    -fx-scale-shape: false;
    -fx-shape: "M 935 1187 L 943 1187 L 943 1188 L 935 1188 L 935 1187 ZM 935 1185 L 943 1185 L 943 1186 L 935 1186 L 935 1185 ZM 935 1183 L 943 1183 L 943 1184 L 935 1184 L 935 1183 ZM 926 1185.5 C 926 1192.9559 932.0441 1199 939.5 1199 C 946.9559 1199 953 1192.9559 953 1185.5 C 953 1178.0441 946.9559 1172 939.5 1172 C 932.0441 1172 926 1178.0441 926 1185.5 Z";
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 1, 0.0, 0, 1);
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffffff;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em;
    -fx-shape: "M1.929,4L0.5,3.998L4.5,1l4,2.998L7.07,4L4.5,2.024L1.929,4z";
    -fx-effect: dropshadow(two-pass-box, #dedede, 1, 0.0, 0, 1.4);
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-background-color: #ffffff;
    -fx-padding: 0.167em 0.333em 0.167em 0.333em;
    -fx-shape: "M7.071,1L8.5,1.002L4.5,4l-4-2.998L1.93,1L4.5,2.976L7.071,1z";
    -fx-effect: dropshadow(two-pass-box, #dedede, 1, 0.0, 0, 1.4);
}

.scroll-bar > .track {
    -fx-background-insets: 0;
    -fx-padding: 1em;
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: #0070d6;
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: #0070d6;
}

.scroll-bar .thumb:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
}

/******************************** toggle-button *******************************/
/*
.toggle-button {
    -fx-text-fill: #ffffff;
    -fx-outer-border: linear-gradient(to bottom, derive(#913B3B, 30%) 0%, derive(#913B3B, -30%) 100%);
    -fx-inner-border: derive(#DF5B5B, 10%);
    -fx-body-color: #DF5B5B;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-insets: 0, 0, 0, 1 0 0 0;
    -fx-padding: 10 15 10 15;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: lighter;
}

.toggle-button:pressed {
    -fx-body-color: #913B3B;
    -fx-inner-border: derive(#913B3B, 10%);
}

.toggle-button:selected {
    -fx-body-color: #913B3B;
    -fx-inner-border: derive(#913B3B, 10%);
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}
*/
/***************** menu-bar ********************/
/*
.menu-bar {
    -fx-background-color: #913B3B, #DF5B5B;
}

.menu-bar .menu:selected {
    -fx-background: #DF5B5B;
    -fx-background-color: #913B3B;
    -fx-text-fill: #FFFEFE;
}

.menu-bar .menu-item {
    -fx-text-fill: #FFFEFE;
}

.menu:pressed {
    -fx-background: #913B3B;
    -fx-background-color: #913B3B;
    -fx-text-fill: #FFFEFE;
}

.menu:hover > .label {
    -fx-background-color: #913B3B;
}

.menu .menu-button {
    -fx-background: #913B3B;
    -fx-background-color: #913B3B;
}
*/

/***************** titled pane *********************/

.titled-pane {
    -fx-mark-color: white;
    -fx-mark-highlight-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-mark-color: white;
    -fx-focus-color: transparent;
}

.titled-pane > .title {
    -fx-background-color: #0055aa, #0070d6;
    -fx-background-insets: 0, 1 0 0 0;
}

.titled-pane > .title:hover {
    -fx-background-color: #0055aa, derive(#0070d6, -10%);
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

/************************************************************/

.borders {
    -fx-border-color: #0070d6;
    -fx-border-style: dotted;
    -fx-border-width: 5;
    -fx-border-insets: -2;
}

.root {
    -fx-background: #34383B;
    /*
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
    -fx-font-weight: lighter;
    -fx-selection-bar: #913B3B;
    -fx-selection-bar-non-focused: derive(#913B3B, 20%);
    */
}

.important-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #0055aa;
}

.normal-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}