.tagsbuttons {
    -fx-background-color: #3edc69;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
    -fx-border-radius: 0%;
}

.tagsbuttons:hover {
    -fx-background-color: #0070d6;
}

.shapesbuttons {
    -fx-background-color: #ffffee;
    -fx-border-radius: 0%;
}

.shapesbuttons:hover {
    -fx-scale-y: 1.02;
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-font-weight: bolder;
}
